# Discord
DISC_BOT_TOKEN="[Discord Bot Token]"
DISC_APP_ID="[Discord App ID]"
DISC_USER_ID="[Your Discord User ID]"

# MAL
MAL_CLIENT_ID="[Your MAL Client ID]"
MAL_CLIENT_SECRET="[Your MAL Client Secret]"

# Don't change unless you know what you're doing
MAL_USER_AGENT="MAL Discord Widget/2.0 (created by @svn-gms on MAL)"
DISC_USER_AGENT="DiscordBot (https://github.com/discord/discord-api-docs, 1.0.0)"
